body {
  font-family: 'Montserrat', sans-serif;
}

#practice {
  color: red;
  font-family: sans-serif;
}

code {
  font-family: monospace;
  color:  red;
}

#product-overview {
  background: red
}

#product-overview h1 {
  color: white;
  font-family: 'Redressed', cursive;
}

.section-title {
  color: green;
}