/* body {
  font-family: 'Montserrat', sans-serif;
} */

body {
  font-family: arial;
  margin: 0;
}

#practice {
  color: red;
  font-family: sans-serif;
}

code {
  font-family: monospace;
  color:  red;
}

.different-style {
  color: green;
}

li + li {
  background-color: black;
  color: white;
}

ol > li {
  background-color: black;
  color: white;
}

#product-overview {
  background: red;
  width: 50%;
  height: 100%;
}

#product-overview h1 {
  color: white;
  font-family: 'Redressed', cursive;
}

.section-title {
  color: green;
}